@import "variables";
// @import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// BUTTONS =============================================== *


// BREADCRUMBS ============================================== *


// LINKS ============================================== *
@mixin link {
    padding: 0 2px 2px 2px;
    border: {
        top: 2px solid transparent;
        right: 2px solid transparent;
        bottom: 2px solid $yellow;
        left: 2px solid transparent;
    }
    &:hover {
        text-decoration: none;
        background-color: $light-yellow;
        border: {
            top: 2px solid transparent;
            right: 2px solid transparent;
            bottom: 2px solid $light-yellow;
            left: 2px solid transparent;
        }
    }
    &:active, &:focus {
        background-color: transparent;
        border: {
            top: 2px solid $yellow;
            right: 2px solid $yellow;
            bottom: 2px solid $yellow;
            left: 2px solid $yellow;
        }
    }
}


// LISTS ============================================== *
// Reset
@mixin list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}


// MEDIA QUERIES =============================================== *
// Min-width
@mixin min-screen($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
        @content;
    }
}

    // If the key doesn't exist in the map
    @else {
        @warn "No value could be retrieved from `#{$breakpoint}`. "
            + "Make sure it is defined in `$breakpoints` map.";
    }
}

// Max-width
@mixin max-screen($breakpoint) {
    // Retrieves the value from the key
    $value: map-get($breakpoints, $breakpoint);

    // If the key exists in the map
    @if $value != null {
        // Prints a media query based on the value
        @media (max-width: $value) {
        @content;
    }
}

// If the key doesn't exist in the map
@else {
    @warn "No value could be retrieved from `#{$breakpoint}`. "
        + "Make sure it is defined in `$breakpoints` map.";
    }
}



