// BREAKPOINTS (Media Queries) =============================================== *
$breakpoints: (
  // Matched to Bootstrap $grid-breakpoints variables -------- *
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 1024px,
  // Large screen / desktop
  lg: 1190px,
  // Extra large screen / wide desktop
  xl: 1400px
);


// COLORS =============================================== *

// Base -----------
$black: #000000;
$light-grey: #EDECEC;
$dark-grey: #4C4B4B;
$blue: #1226AA;
$purple: #8A84D6;
$light-purple: #B6B8DD;
$ivory: #F4F4F4;
$white: #FFFFFF;

// Secondary -----------
$pale-blue: #007CBA;
$cyan: #00ABC8;
$light-cyan: #99D9D9;
$orange: #F18A00;
$yellow: #F3C300;
$light-yellow: #F8DF8D;


// TYPOGRAPHY =============================================== *

// Font Family ----------
$lato: 'Lato', sans-serif;

// Font Weight ----------
$light: 300;
$regular: 400;
$bold: 700;
$extra-bold: 900;