﻿@using ASA.Website.Feature.Navigation.Views.Feature.Navigation.Header
@using Glass.Mapper.Sc.Web.Mvc
@model HeaderRendering

<!-- Mobile View =========================== -->
<header class="mobile" style="background-color: rebeccapurple">
    <div class="top-nav">
        <div class="hamburger">
            <span class="burger openNav" href="#"><img src="../../../../../Images/Base/dist/hamburger-menu-blue.svg" alt=""></span>
            <span class="no-x closeNav" href="#"><img src="../../../../../Images/Base/dist/icon-close-lrg-blue.svg" alt=""></span>
            <span class="label">@Translate.Text("label.menu")</span>
        </div>
        <a href="/">
            <div class="logo">
                <div class="color"><img src="../../../../../Images/Base/dist/logo-color.svg" alt=""></div>
            </div>
        </a>
    </div>
    <ul class="utility-nav">
        <li class="bell">
            <a href="#">
                <!-- Bell Icon -->
                <svg width="20" height="21" viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 19.964c.119 0 .179-.06.179-.178 0-.12-.06-.179-.179-.179-.439 0-.817-.158-1.133-.474A1.546 1.546 0 0 1 8.393 18c0-.119-.06-.179-.179-.179s-.178.06-.178.179c0 .543.191 1.006.574 1.39.384.383.847.574 1.39.574zm-7.254-3.393h14.508c-1.979-2.232-2.968-5.327-2.968-9.285 0-.38-.09-.77-.268-1.172a4.264 4.264 0 0 0-.77-1.15c-.335-.364-.787-.664-1.356-.898A4.924 4.924 0 0 0 10 3.714c-.692 0-1.323.117-1.892.352-.569.234-1.02.534-1.356.898a4.264 4.264 0 0 0-.77 1.15 2.876 2.876 0 0 0-.268 1.172c0 3.958-.99 7.053-2.968 9.285zm16.54 0c0 .387-.142.722-.424 1.005a1.373 1.373 0 0 1-1.005.424h-5c0 .789-.279 1.462-.837 2.02a2.753 2.753 0 0 1-2.02.837 2.753 2.753 0 0 1-2.02-.837A2.753 2.753 0 0 1 7.143 18h-5c-.387 0-.722-.141-1.005-.424a1.373 1.373 0 0 1-.424-1.005c.372-.312.71-.64 1.016-.982.305-.342.621-.787.949-1.333.327-.547.604-1.137.831-1.77.227-.632.413-1.398.558-2.299.145-.9.218-1.867.218-2.901 0-1.131.435-2.182 1.306-3.153.87-.971 2.012-1.56 3.426-1.77a1.112 1.112 0 0 1-.09-.434c0-.298.105-.551.313-.76.208-.208.461-.312.759-.312s.55.104.759.313c.208.208.312.461.312.759 0 .148-.03.293-.089.435 1.414.208 2.556.798 3.426 1.769.871.97 1.306 2.022 1.306 3.153 0 1.034.073 2.001.218 2.902.145.9.331 1.666.558 2.299.227.632.504 1.222.831 1.769.328.546.644.991.95 1.333.304.343.643.67 1.015.982z" fill="#FFF" fill-rule="evenodd" class="bell-icon" />
                </svg>
                <!-- / Bell Icon -->
            </a>
        </li>
        <li class="cart">
            <a href="#">
                <!-- Cart Icon -->
                <svg width="19" height="17" viewBox="0 0 19 17" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.719 13.996c.282.282.424.617.424 1.004s-.142.722-.424 1.004a1.373 1.373 0 0 1-1.005.425c-.387 0-.721-.142-1.004-.425A1.373 1.373 0 0 1 4.286 15c0-.387.141-.722.424-1.004a1.373 1.373 0 0 1 1.004-.425c.387 0 .722.142 1.005.425zm10 0c.282.282.424.617.424 1.004s-.142.722-.424 1.004a1.373 1.373 0 0 1-1.005.425c-.387 0-.721-.142-1.004-.425A1.373 1.373 0 0 1 14.286 15c0-.387.141-.722.424-1.004a1.373 1.373 0 0 1 1.004-.425c.387 0 .722.142 1.005.425zM18.57 2.857v5.714a.692.692 0 0 1-.184.475.706.706 0 0 1-.452.24L6.283 10.647c.097.447.146.707.146.782 0 .119-.09.357-.268.714h10.268c.193 0 .36.07.502.212a.686.686 0 0 1 .212.502c0 .194-.07.361-.212.502a.686.686 0 0 1-.502.212H5a.686.686 0 0 1-.502-.212.686.686 0 0 1-.212-.502c0-.082.03-.199.089-.351.06-.153.119-.287.179-.402.06-.116.14-.264.24-.447.1-.182.158-.292.173-.329L2.99 2.143H.714a.686.686 0 0 1-.502-.212A.686.686 0 0 1 0 1.429c0-.194.07-.361.212-.503A.686.686 0 0 1 .714.714h2.857a.68.68 0 0 1 .536.246c.052.067.1.158.145.273.045.116.075.212.09.29a59.071 59.071 0 0 1 .111.62h13.404c.194 0 .361.07.502.212a.686.686 0 0 1 .212.502z" fill="#FFF" fill-rule="evenodd" class="cart-icon" />
                </svg>
                <!-- / Cart Icon -->
            </a>
        </li>
        <li class="account-wrap">
            <a href="#">
                <!-- Account Icon -->
                <svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" class="account-icon">
                    <g fill="#FFFFFF" fill-rule="nonzero">
                        <path d="M10.5 20.75C4.84 20.75.25 16.16.25 10.5S4.84.25 10.5.25 20.75 4.84 20.75 10.5 16.16 20.75 10.5 20.75zm0-1.5a8.75 8.75 0 1 0 0-17.5 8.75 8.75 0 0 0 0 17.5z" />
                        <path d="M5 17.913c.248-.104.586-.238.763-.3a11.224 11.224 0 0 1 1.607-.433c.748-.146.651-.498.693-1.28.006-.114.178-.985.058-1.044-.495-.248-.637-1.074-.655-1.564-.011-.278-.018-.43-.195-.648a3.023 3.023 0 0 1-.368-.595c-.214-.445-.47-1.103-.229-1.585.052-.102.117-.199.146-.31.05-.187-.085-.363-.109-.55-.03-.233-.05-.468-.086-.701a5.42 5.42 0 0 1-.014-1.42c.062-.486.46-.91.785-1.248.792-.823 2.161-1.428 3.332-1.178 1.242.266 2.576.765 2.85 2.133.101.51.112 1.031.055 1.547-.036.334-.165.687-.165 1.02 0 .26.183.485.228.728.048.264-.079.687-.15.943-.097.348-.184.708-.362 1.025-.164.29-.349.452-.382.807-.046.48-.127 1.27-.623 1.517-.12.06.03 1.008.036 1.121.042.783.305 1.135 1.052 1.28.544.106 1.084.25 1.606.435.09.03.692.218.876.3-1.427 1.178-3.621 1.802-5.61 1.802A8.216 8.216 0 0 1 5 17.913z" stroke="#FFFFFF" stroke-width=".5" />
                    </g>
                </svg>
                <!-- / Account Icon -->
            </a>
            <div class="username">
                <span class="first-name">Martin</span>
                <span class="last-name">Smith</span>
            </div>
        </li>
        <li class="search-wrap">
            <input type="text" class="">
            <a class="search">
                <!-- Search Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path fill="#FFF" fill-rule="evenodd" d="M17.412 17.986a.706.706 0 0 1-.595-.142l-4.135-3.927c-.86.79-1.913 1.33-3.032 1.63a7.471 7.471 0 0 1-7.129-1.833A7.424 7.424 0 0 1 .208 8.438C.142 6.433.91 4.506 2.28 3.063a7.512 7.512 0 0 1 3.476-2.05 7.471 7.471 0 0 1 7.13 1.834c2.828 2.727 3.079 7.179.663 10.15l4.136 3.927c.246.278.263.66.026.896-.058.102-.178.134-.298.166zM6.078 2.218c-1.119.3-2.111.91-2.88 1.718a6.062 6.062 0 0 0-1.716 4.462c.06 1.662.74 3.244 1.946 4.384 1.613 1.547 3.821 2.118 5.94 1.55a6.198 6.198 0 0 0 2.879-1.718c2.334-2.476 2.252-6.456-.23-8.847-1.613-1.547-3.821-2.117-5.939-1.55z" class="search-icon" />
                </svg>
                <!-- / Search Icon -->
            </a>
        </li>
    </ul>
</header>
<!-- / Mobile View =========================== -->
<!-- Desktop View =========================== -->
<header class="desktop" style="background-color: rebeccapurple">
    <div class="container">
        <div class="top-nav">
            <a class="burger-wrap openNav" href="#">
                <div class="hamburger">
                    <!-- Hamburger Icon -->
                    <svg width="35" height="22" viewBox="0 0 35 22" xmlns="http://www.w3.org/2000/svg">
                        <g stroke="#FFF" stroke-width="3" fill="none" fill-rule="evenodd" stroke-linecap="square" class="burger">
                            <path d="M1.5 1.5h31.6M1.5 11h31.6M1.5 20.5h31.6" />
                        </g>
                    </svg>
                    <!-- / Hamburger Icon -->
                    <span class="label">@Translate.Text("label.menu")</span>
                </div>
            </a>
            <a href="/">
                <div class="logo">
                    <div class="white"><img src="../../../../../Images/Base/dist/logo-white.svg" alt=""></div>
                    <div class="color"><img src="../../../../../Images/Base/dist/logo-color.svg" alt=""></div>
                </div>
            </a>
            <ul class="utility-nav">
                <li class="bell">
                    <a href="#">
                        <!-- Bell Icon -->
                        <svg width="20" height="21" viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 19.964c.119 0 .179-.06.179-.178 0-.12-.06-.179-.179-.179-.439 0-.817-.158-1.133-.474A1.546 1.546 0 0 1 8.393 18c0-.119-.06-.179-.179-.179s-.178.06-.178.179c0 .543.191 1.006.574 1.39.384.383.847.574 1.39.574zm-7.254-3.393h14.508c-1.979-2.232-2.968-5.327-2.968-9.285 0-.38-.09-.77-.268-1.172a4.264 4.264 0 0 0-.77-1.15c-.335-.364-.787-.664-1.356-.898A4.924 4.924 0 0 0 10 3.714c-.692 0-1.323.117-1.892.352-.569.234-1.02.534-1.356.898a4.264 4.264 0 0 0-.77 1.15 2.876 2.876 0 0 0-.268 1.172c0 3.958-.99 7.053-2.968 9.285zm16.54 0c0 .387-.142.722-.424 1.005a1.373 1.373 0 0 1-1.005.424h-5c0 .789-.279 1.462-.837 2.02a2.753 2.753 0 0 1-2.02.837 2.753 2.753 0 0 1-2.02-.837A2.753 2.753 0 0 1 7.143 18h-5c-.387 0-.722-.141-1.005-.424a1.373 1.373 0 0 1-.424-1.005c.372-.312.71-.64 1.016-.982.305-.342.621-.787.949-1.333.327-.547.604-1.137.831-1.77.227-.632.413-1.398.558-2.299.145-.9.218-1.867.218-2.901 0-1.131.435-2.182 1.306-3.153.87-.971 2.012-1.56 3.426-1.77a1.112 1.112 0 0 1-.09-.434c0-.298.105-.551.313-.76.208-.208.461-.312.759-.312s.55.104.759.313c.208.208.312.461.312.759 0 .148-.03.293-.089.435 1.414.208 2.556.798 3.426 1.769.871.97 1.306 2.022 1.306 3.153 0 1.034.073 2.001.218 2.902.145.9.331 1.666.558 2.299.227.632.504 1.222.831 1.769.328.546.644.991.95 1.333.304.343.643.67 1.015.982z" fill="#FFF" fill-rule="evenodd" class="bell-icon" />
                        </svg>
                        <!-- / Bell Icon -->
                    </a>
                </li>
                <li class="cart">
                    <a href="#">
                        <!-- Cart Icon -->
                        <svg width="19" height="17" viewBox="0 0 19 17" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.719 13.996c.282.282.424.617.424 1.004s-.142.722-.424 1.004a1.373 1.373 0 0 1-1.005.425c-.387 0-.721-.142-1.004-.425A1.373 1.373 0 0 1 4.286 15c0-.387.141-.722.424-1.004a1.373 1.373 0 0 1 1.004-.425c.387 0 .722.142 1.005.425zm10 0c.282.282.424.617.424 1.004s-.142.722-.424 1.004a1.373 1.373 0 0 1-1.005.425c-.387 0-.721-.142-1.004-.425A1.373 1.373 0 0 1 14.286 15c0-.387.141-.722.424-1.004a1.373 1.373 0 0 1 1.004-.425c.387 0 .722.142 1.005.425zM18.57 2.857v5.714a.692.692 0 0 1-.184.475.706.706 0 0 1-.452.24L6.283 10.647c.097.447.146.707.146.782 0 .119-.09.357-.268.714h10.268c.193 0 .36.07.502.212a.686.686 0 0 1 .212.502c0 .194-.07.361-.212.502a.686.686 0 0 1-.502.212H5a.686.686 0 0 1-.502-.212.686.686 0 0 1-.212-.502c0-.082.03-.199.089-.351.06-.153.119-.287.179-.402.06-.116.14-.264.24-.447.1-.182.158-.292.173-.329L2.99 2.143H.714a.686.686 0 0 1-.502-.212A.686.686 0 0 1 0 1.429c0-.194.07-.361.212-.503A.686.686 0 0 1 .714.714h2.857a.68.68 0 0 1 .536.246c.052.067.1.158.145.273.045.116.075.212.09.29a59.071 59.071 0 0 1 .111.62h13.404c.194 0 .361.07.502.212a.686.686 0 0 1 .212.502z" fill="#FFF" fill-rule="evenodd" class="cart-icon" />
                        </svg>
                        <!-- / Cart Icon -->
                    </a>
                </li>
                <li class="account-wrap">
                    <a href="#">
                        <!-- Account Icon -->
                        <svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#FFFFFF" fill-rule="nonzero" class="account-icon">
                                <path d="M10.5 20.75C4.84 20.75.25 16.16.25 10.5S4.84.25 10.5.25 20.75 4.84 20.75 10.5 16.16 20.75 10.5 20.75zm0-1.5a8.75 8.75 0 1 0 0-17.5 8.75 8.75 0 0 0 0 17.5z" />
                                <path d="M5 17.913c.248-.104.586-.238.763-.3a11.224 11.224 0 0 1 1.607-.433c.748-.146.651-.498.693-1.28.006-.114.178-.985.058-1.044-.495-.248-.637-1.074-.655-1.564-.011-.278-.018-.43-.195-.648a3.023 3.023 0 0 1-.368-.595c-.214-.445-.47-1.103-.229-1.585.052-.102.117-.199.146-.31.05-.187-.085-.363-.109-.55-.03-.233-.05-.468-.086-.701a5.42 5.42 0 0 1-.014-1.42c.062-.486.46-.91.785-1.248.792-.823 2.161-1.428 3.332-1.178 1.242.266 2.576.765 2.85 2.133.101.51.112 1.031.055 1.547-.036.334-.165.687-.165 1.02 0 .26.183.485.228.728.048.264-.079.687-.15.943-.097.348-.184.708-.362 1.025-.164.29-.349.452-.382.807-.046.48-.127 1.27-.623 1.517-.12.06.03 1.008.036 1.121.042.783.305 1.135 1.052 1.28.544.106 1.084.25 1.606.435.09.03.692.218.876.3-1.427 1.178-3.621 1.802-5.61 1.802A8.216 8.216 0 0 1 5 17.913z" stroke="#FFFFFF" stroke-width=".5" />
                            </g>
                        </svg>
                        <!-- / Account Icon -->
                    </a>
                    <div class="username">
                        <span class="first-name">Martin</span>
                        <span class="last-name">Smith</span>
                    </div>
                </li>
                <li class="search-wrap">
                    <input type="text" class="">
                    <a class="search">
                        <!-- Search Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <path fill="#FFF" fill-rule="evenodd" d="M17.412 17.986a.706.706 0 0 1-.595-.142l-4.135-3.927c-.86.79-1.913 1.33-3.032 1.63a7.471 7.471 0 0 1-7.129-1.833A7.424 7.424 0 0 1 .208 8.438C.142 6.433.91 4.506 2.28 3.063a7.512 7.512 0 0 1 3.476-2.05 7.471 7.471 0 0 1 7.13 1.834c2.828 2.727 3.079 7.179.663 10.15l4.136 3.927c.246.278.263.66.026.896-.058.102-.178.134-.298.166zM6.078 2.218c-1.119.3-2.111.91-2.88 1.718a6.062 6.062 0 0 0-1.716 4.462c.06 1.662.74 3.244 1.946 4.384 1.613 1.547 3.821 2.118 5.94 1.55a6.198 6.198 0 0 0 2.879-1.718c2.334-2.476 2.252-6.456-.23-8.847-1.613-1.547-3.821-2.117-5.939-1.55z" class="search-icon" />
                        </svg>
                        <!-- / Search Icon -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- / Desktop View =========================== -->
<!-- Navigation Overlay -->
<div id="fsNav" class="overlay">
    <div class="overlay-content">
        <nav>
            <div class="overlay-header">
                <a class="closeNav" href="#">
                    <div class="close">
                        <img src="../../../../../Images/Base/dist/icon-close-lrg.svg" alt="">
                        <span>@Translate.Text("label.close")</span>
                    </div>
                </a>
            </div>
            <ul class="main">
                @if (Model.NavigationSections != null)
                {
                    foreach (NavigationSection navSection in Model.NavigationSections)
                    {
                        <li class="has-dropdown">
                            <a href="#">@navSection.Heading</a>
                            <!-- Sub-Nav Overlay -->
                            <div class="sub-overlay">
                                <span class="closeSubNav" href="#">@Translate.Text("label.back")</span>
                                <div class="sub-overlay-content">
                                    <div class="sub-overlay-header">
                                        <span class="parent-title">@navSection.Heading</span>
                                    </div>
                                    <ul>
                                        <!-- Sub-Nav Items -->
                                        @foreach (DirectLink link in navSection.DirectLinks)
                                        {
                                            <li>
                                                @using (Html.Glass().BeginRenderLink(link, x => x.Link))
                                                {
                                                    @Html.Glass().Editable(link, x => x.Text)
                                                }
                                            </li>
                                        }
                                        <!-- / Sub-Nav Items -->
                                    </ul>
                                </div>
                            </div>
                            <!-- / Sub-Nav Overlay -->
                        </li>
                    }
                }
            </ul>
            <!-- Secondary Nav -->
            <ul class="secondary">
                @if (Model.DirectLinks != null)
                {
                    foreach (DirectLink link in Model.DirectLinks)
                    {
                        <li>
                            @using (Html.Glass().BeginRenderLink(link, x => x.Link))
                            {
                                @Html.Glass().Editable(link, x => x.Text)
                            }
                        </li>
                    }
                }
            </ul>
            <!-- / Secondary Nav -->
        </nav>
    </div>
</div>
<!-- / Navigation Overlay -->