﻿@using ASA.Website.Feature.Seo.Views.Feature.Seo.PageMetadata
@model PageMetadataRendering

<title>@Model.BrowserTitle</title>

@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    <meta name="description" content="@Model.Description" />
}

@if (!string.IsNullOrWhiteSpace(Model.Keywords))
{
    <meta name="keywords" content="@Model.Keywords" />
}

@if (!string.IsNullOrWhiteSpace(Model.Keywords))
{
    <meta name="keywords" content="@Model.Keywords" />
}

@if (!string.IsNullOrWhiteSpace(Model.Robots))
{
    <meta name="robots" content="@Model.Robots" />
}