﻿@using System.Web.Mvc.Html
@using Sitecore.Mvc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Sitecore().Rendering("{A8DAAE22-C0BF-4F1B-A436-807BC65F1309}")

    @Html.Partial("/Views/Project/ASA_MainSite/Layouts/_StylesCompiled.cshtml")
</head>
<body>
    @Html.Sitecore().Rendering("{5488A291-B4E0-4FC5-8387-438B77A4A1AB}", new {DataSource = "{DFD28B22-9410-41E8-8159-FD070B9DC613}" })
    @Html.Sitecore().Placeholder("main")

    @Html.Partial("/Views/Project/ASA_MainSite/Layouts/_ScriptsCompiled.cshtml")
</body>
</html>